// Full height body for admin interface
html, body
  height: 100%

.form-control.inline
  display: inline-block

.form-control.width-medium
  width: 160px

.form-control.width-long
  width: 240px

.clear
  clear: both
