#ts-container
    position: fixed
    top: 0
    left: 0
    right: 0

#ts-tabs
    display: none // hidden by default
    max-height: 600px
    overflow: auto
    margin-bottom: 0px

.ts-adminToggle
    background-color: gold

